.morpion {
    flex-direction: column;
    align-items: center;
}
.morpion-ui {
    flex-direction: column;
    align-items: center;
}
.cell {

    align-items: center;
    justify-content: center;
    line-height:4;
    text-align: center;
    cursor: pointer;
}  
.cell:active {
    outline: none;
}